<div class="container" style="margin-top: 81px">
    <div class="row text-center">
        <div class="col-xs-6 col-sm-4 col-sm-offset-3">
            <div class="form-group">
                <input type="text" id="namesearch" class="form-control" id="inputPassword2" name="name"
                       placeholder="请输入客户姓名">
            </div>
        </div>
        <div class="col-xs-6 col-sm-1">
            <button onclick="getid()" id="searchclient" class="btn btn-default"><span class="fa fa-search"></span> 查询客户
            </button>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <div id="searchresult" class="table-responsive">

            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px;margin-bottom: 100px">
    <div class="row">
        <!--账单填写-->
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <form role="form" id="payform" action="<{:U('Pay/handle',array('source'=>0))}>" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">客户编号 &nbsp;&nbsp;&nbsp;<span id="clientsname"
                                                                                 style="color: #00d600"></span></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="uid" placeholder="请输入客户编号">
                    <p class="help-block" style="color: black">(* 如果您暂时不知道客户编号,可以暂时不填写, 以后再追加客户编号)</p>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">帐户</label>
                    <input type="text" class="form-control" name="account" placeholder="请输入汇入帐户" value="Client BOM">
                </div>
                <div class="form-group">
                    <label for="receivers">收款人</label>
                    <input type="text" id="receivers" class="form-control" name="receiver" placeholder="请输入收款人">
                </div>
                <div class="form-group">
                    <label for="receipt">支票号</label>
                    <input type="text" id="receipt" class="form-control" name="receipt" placeholder="请输入支票号">
                </div>

                <div class="form-group" style="margin-bottom: 20px">
                    <label for="">付款金额</label>
                    <input type="text" name="amount" class="form-control" placeholder="请输入金额">
                </div>

                <div class="form-group">
                    <label for="dtp_input2" class=" control-label">支付日期</label>
                    <div class="input-group date reg_time" data-date="" data-date-format="yyyy-mm-dd"
                         data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input class="form-control" size="16" name="regtime" type="text" value="" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input2" value=""/><br/>
                </div>

                <div class="form-group" style="margin-bottom: 20px">
                    <label for="">备注</label>
                    <input type="text" name="payfor" class="form-control" placeholder="请输入您的支付用途">
                </div>

                <button type="submit" class="btn btn-primary"><span class="fa fa-check"></span> 确认提交</button>
                <a href="<{:U('Pay/readytopay')}>" style="margin-left: 20px" class="btn btn-default"><span
                        class="fa fa-undo"></span> 暂不提交</a>
            </form>
        </div>
    </div>
</div>


<script src="__PUBLIC__/js/jquery1.11.1.min.js"></script>
<script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/vendor/bootcomplete.js-master/dist/jquery.bootcomplete.js"></script>
<script src="__PUBLIC__/vendor/bootstrap-validator/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/dist/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script src="__PUBLIC__/js/bootbox.min.js"></script>
<script>
    $('#receivers').bootcomplete({
        method: 'GET',
        url: "<{:U('Home/Pay/receiver')}>",
        minLength: 1,
    });
    $(function () {
        $('#payform').bootstrapValidator({
            fields: {
                uid: {
                    validators: {
                        numeric: {
                            message: '请输入数字'
                        },
                        remote: {//ajax验证。server result:{"valid",true or false} 向服务发送当前input name值，获得一个json数据。例表示正确：{"valid",true}
                            url: '<{:U("Pay/checkid")}>',//验证地址
                            message: '您输入的客户id不存在',//提示消息
                            type: 'GET',//请求方式
                            onSuccess: function (e, data) {
                                var name = data.result.name;
                                $('#clientsname').html(name);
                            },
                            onError: function (e, data) {
                                $('#clientsname').html('');
                            }
                        }
                    }
                },
                account: {
                    validators: {
                        notEmpty: {
                            message: '请填写支付的账户'
                        }
                    }
                },
                payfor: {
                    validators: {
                        notEmpty: {
                            message: '请填写用途'
                        },
                        stringLength: {
                            min: 1,
                            max: 250,
                            message: '请不要超过250个字符'
                        }
                    }
                },
                receiver: {
                    validators: {
                        notEmpty: {
                            message: '请填写收款人'
                        },
                        stringLength: {
                            min: 1,
                            max: 40,
                            message: '请不要超过40个字符'
                        }
                    }
                },
                receipt: {
                    validators: {
                        notEmpty: {
                            message: '请填写支票号'
                        },
                        stringLength: {
                            min: 1,
                            max: 25,
                            message: '请不要超过25个字符'
                        }
                    }
                },
                amount: {
                    validators: {
                        notEmpty: {
                            message: '金额不能为空'
                        },
                        numeric: {
                            message: '请输入数字'
                        },
                        between: {
                            min: 0,
                            max: 100000000,
                            message: '数值应在1到100,000,000之间'
                        }
                    }
                }
            }
        });


        $('.reg_time').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,

        });
        $('.reg_time').datetimepicker('update', new Date());
        //绑定回车事件
        $(document).keydown(function (e) {
            if (e.keyCode == 13) {
                $('#searchclient').trigger('click');
            }
        });

        //查询结果绑定分页
        $('#searchresult').on('click', '.pagination li', function (e) {
            e.preventDefault();
            var url = $(this).children('a').eq(0).attr('href');
            if (url) {
                getid(url);
            }
        });
        function getid(url) {
            $.get(url, function (result) {
                $('#searchresult').html(result);
            });
        }

        //第一次查询
        $('#searchclient').click(function () {
            var clientname = $('#namesearch').val();
            if (!clientname) {
                bootbox.alert("请输入要查询的客户名字");
                return;
            }
            var url = '<{:U("Pay/search")}>' + '/name/' + encodeURI(encodeURI(clientname));
            getid(url);
        });


    });


</script>


