<div class="container" style="margin-top: 100px;margin-bottom: 100px">


    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            <p style="color: #100809"><span class="fa fa-comment-o"></span> 截止至当前时间:<?php echo date('Y-m-d H:i:s')?>
                系统记录用户的相关操作信息如下:</p>
            <br>
            <table class="table  table-bordered table-hover table-operation" style="display: none">
                <thead>
                <tr>
                    <th style="width: 100px">操作者</th>
                    <th style="width: 250px">操作时间</th>
                    <th style="width: 1000px">操作内容</th>
                </tr>
                </thead>
                <tbody>
                <foreach name="record" item="r">
                    <tr>
                        <td style="width: 150px"><{$r.who}></td>
                        <td style="width: 150px"><{$r.time}></td>
                        <td style="width: 1000px"><{$r.what}></td>
                    </tr>
                </foreach>
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <{$page}>
                </ul>
            </nav>
        </div>
    </div>

</div>


<script src="__PUBLIC__/js/jquery1.11.1.min.js"></script>
<script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>

<script>
    $(function () {
        $('.table-operation').fadeIn(1500);
    })
</script>