<div class="container" style="margin-top: 81px;">

    <form class="form-inline" id="checkform" role="form" method="post" action="<{:U('Pay/readytopay')}>">

        <div class="row">

            <div class="col-xs-12 col-md-offset-1 col-md-2 col-sm-3 col-sm-offset-1" style="margin-bottom: 14px">
                <select class="form-control" name="query_type">
                    <option value="0"
                    <?php if(isset($query['type']) && $query['type']=='0'){echo 'selected="selected"';}?>
                    >按全部账单查询</option>
                    <option value="1"
                    <?php if(isset($query['type']) && $query['type']=='1'){echo 'selected="selected"';}?>>按Council
                    rate</option>
                    <option value="2"
                    <?php if(isset($query['type']) && $query['type']=='2'){echo 'selected="selected"';}?>>按Water
                    rate</option>
                    <option value="3"
                    <?php if(isset($query['type']) && $query['type']=='3'){echo 'selected="selected"';}?>>按Gas
                    bill</option>
                    <option value="4"
                    <?php if(isset($query['type']) && $query['type']=='4'){echo 'selected="selected"';}?>>按Land
                    Deposit</option>
                    <option value="5"
                    <?php if(isset($query['type']) && $query['type']=='5'){echo 'selected="selected"';}?>>按Building
                    Deposit</option>
                    <option value="6"
                    <?php if(isset($query['type']) && $query['type']=='6'){echo 'selected="selected"';}?>>按Land
                    Tax</option>
                    <option value="7"
                    <?php if(isset($query['type']) && $query['type']=='7'){echo 'selected="selected"';}?>>按FIRB</option>
                </select>
            </div>

            <div class="col-xs-12 col-sm-2 col-md-1">
                <div class="form-group">
                    <input type="text" class="form-control" name="query"
                           value="<?php if(isset($query['query']) && $query['query']){echo $query['query'];}?>"
                           placeholder="请输入客户姓名">
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-offset-1 col-sm-2">
                <button type="submit" class="btn  btn-default"><span class="fa fa-search"></span> 查询待支付</button>
            </div>
            <div class="col-xs-6 col-sm-8 text-right">
                <a class="btn   btn-default" href="<{:U('pay/readytopay')}>"><span class="fa fa-check-circle-o"></span>
                    全部待支付</a>
            </div>

        </div>
    </form>
</div>

<form class="form-inline" role="form" action="<{:U('Pay/paynow')}>" method="post">
    <div class="container" style="margin-top: 21px;margin-bottom:80px">
        <div class="row">
            <div class="col-xs-6 col-sm-offset-1 col-sm-2">
                <a href="<{:U('Pay/myform')}>" class="btn btn-sm btn-primary"><span class="fa fa-check"></span>
                    自定义支付</a>
            </div>
            <div class="col-xs-6 col-sm-8 text-right">
                <button class="btn btn-sm btn-primary" type="submit"><span class=" fa fa-check-circle-o"></span> 支付已选中
                </button>
            </div>
        </div>
        <br>
        <div class="row table-ready" style="display: none">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>Reference Num</th>
                            <th>申请金额</th>
                            <th>Due day</th>
                            <th>备注说明</th>
                            <th>录入时间</th>
                            <th>选择</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php $k=0; ?>
                        <foreach name="bill" item="b">
                            <?php
         $k++;
         if ($k%2==1){
         echo "<tr>";
                            }else{
                            echo "
                            <tr>";
                                }

                                ?>
                                <td style="width: 100px"><{$b.name}></td>
                                <td style="width: 80px"><{$b.referencenum}></td>
                                <td style="width: 80px"><{$b.amount}></td>
                                <td style="width: 70px"><{$b.applytime|date="Y-m-d",###}></td>
                                <td style="width: 200px"><{$b.remark}></td>
                                <td style="width: 100px"><{$b.time|date="Y-m-d",###}></td>
                                <td style="width: 50px"><input type="checkbox" value="<{$b.id}>" name="pay[]"
                                                               class="pay"></td>
                            </tr>
                        </foreach>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

</form>

<script src="__PUBLIC__/js/jquery1.11.1.min.js"></script>
<script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $('.navbar-nav li:eq(2)').addClass('active');
        $('.table-ready').fadeIn(1500);
    })
</script>

