<div class="container" style="margin-top: 100px">
    <div class="row">
        <div class="col-sm-8 col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="1">
                        <h4 class="panel-title">

                            本次已支付 <span style="color:black"> <{$count}></span> 份账单&nbsp;&nbsp;&nbsp;&nbsp;<span
                                id="total" style="color: red;">  总计金额:&nbsp;&nbsp;<{$total}> AUD</span>

                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="1">
                        <div class="panel-body">
                            <div class="row">

                                <table class="table ">
                                    <thead>
                                    <tr>
                                        <th>姓名</th>
                                        <th>申请金额</th>
                                        <th>申请时间</th>
                                        <th>备注说明</th>
                                        <th>支付时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php $k=1; ?>
                                    <foreach name="reg" item="b">
                                        <tr>
                                            <td><{$b.name}></td>
                                            <td><{$b.amount}></td>
                                            <td><{$b.applytime|date="Y-m-d",###}></td>
                                            <td><input type="text" value="<{$b.remark}>"
                                                       class="remarkcontent form-control"></td>
                                            <td><{$b.time|date="Y-m-d",###}></td>
                                            <td>
                                                <button data="<{$b.id}>" class="remarkbtn btn btn-primary btn-sm">保存
                                                </button>
                                            </td>
                                        </tr>
                                    </foreach>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!--账单填写-->
        <div class="col-sm-4 col-xs-12">

            <form role="form" id="payform" action="<{:U('Pay/process')}>" style="margin-bottom: 200px" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">编号</label>
                    <input type="text" class="form-control" name="id" id="exampleInputEmail1" value="<{$paid['pid']}>"
                           readonly>
                    <input type="hidden" class="form-control" name="cat" id="exampleInputEmail1" value="1" readonly>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">帐户</label>
                    <input type="text" class="form-control" name="account" placeholder="请输入汇入账户"
                           value="<{$paid['account']}>">
                </div>
                <div class="form-group">
                    <label for="">收款人</label>
                    <input type="text" id='receiver' class="form-control" name="receiver" placeholder="请输入收款人"
                           value="<{$paid['receiver']}>">
                </div>
                <div class="form-group">
                    <label for="">支票号</label>
                    <input type="text" class="form-control" name="receipt" placeholder="请输入支票号"
                           value="<{$paid['receipt']}>">
                </div>
                <div class="form-group" style="margin-bottom: 20px">
                    <label for="">付款金额</label>
                    <input type="text" id="amount" name="amount" class="form-control" value="<{$total}>" readonly>
                </div>
                <div class="form-group">
                    <label for="dtp_input2" class=" control-label">支付时间</label>
                    <div class="input-group date reg_time" data-date="" data-date-format="yyyy-mm-dd"
                         data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input class="form-control" size="16" name="regtime" type="text"
                               value="<{$paid.regtime|date='Y-m-d',###}>" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input2" value=""/><br/>
                </div>
                <div class="form-group" style="margin-bottom: 20px">
                    <label for="">支付用途</label>
                    <textarea class="form-control" name="payfor" placeholder="如有需要,请输入备注"
                              rows="4"> <{$paid['payfor']}> </textarea>
                </div>

                <button id="submits" type="submit" class="btn btn-warning"><span class="fa fa-check"></span> 修改</button>
                <a href="<{$Think.cookie.history}>" style="margin-left: 20px" class="btn btn-default"><span
                        class="fa fa-undo"></span> 返回</a>
            </form>
        </div>
    </div>
</div>


<script src="__PUBLIC__/js/jquery1.11.1.min.js"></script>
<script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/vendor/bootcomplete.js-master/dist/jquery.bootcomplete.js"></script>
<script src="__PUBLIC__/vendor/bootstrap-validator/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/dist/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="__PUBLIC__/vendor/layer/layer.js" charset="UTF-8"></script>

<script>
    $('#receiver').bootcomplete({
        method: 'GET',
        url: "<{:U('Home/Pay/receiver')}>",
        minLength: 1,
    });
    $(function () {
        $('#payform').bootstrapValidator({
            fields: {
                account: {
                    validators: {
                        notEmpty: {
                            message: '请填写支付的账户'
                        },
                        stringLength: {
                            min: 1,
                            max: 25,
                            message: '最多为25个字符'
                        }
                    }
                },
                payfor: {
                    validators: {
                        stringLength: {
                            min: 0,
                            max: 250,
                            message: '请不要超过250个字符'
                        }
                    }
                },
                receiver: {
                    validators: {
                        notEmpty: {
                            message: '请填写收款人'
                        },
                        stringLength: {
                            min: 1,
                            max: 40,
                            message: '请不要超过40个字符'
                        }
                    }
                },
                receipt: {
                    validators: {
                        notEmpty: {
                            message: '请填写支票号'
                        },
                        stringLength: {
                            min: 1,
                            max: 25,
                            message: '请不要超过25个字符'
                        }
                    }
                },
                amount: {
                    validators: {
                        notEmpty: {
                            message: '金额不能为空'
                        },
                        numeric: {
                            message: '请输入数字'
                        }

                    }
                }
            }
        });

        $('.reg_time').datetimepicker({
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,

        });

        //ajax修改已付款单子的备注信息
        $('.remarkbtn').click(function () {
            var id = $(this).attr('data');
            var _that = $(this).parent().parent().children('td').eq(3).children('input').eq(0);
            var remark = _that.val();
            if (remark.length < 250) {
                var data = {
                    'id': id,
                    'remark': remark
                }
                $.post('<{:U("pay/remark")}>', data, function (result) {
                    if (parseInt(result) == 0) {//remark修改失败
                        _that.val(remark);
                        layer.msg('您并未做任何更改...', {time: 800});
                    } else {//remark修改成功

                        console.log(result);
                        _that.val(result);
                        layer.msg('修改成功!');
                    }
                })
            } else {//remark太长了 失败
                layer.msg('备注最多为250个字符');
            }
        })

    })
</script>
