<!--账单填写-->
<div class="container" style="margin-top: 100px;margin-bottom: 150px">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">

            <form role="form" id="clientform" action="#" method="post">

                <h3>客户信息如下:</h3>
                <br><br>
                <div class="form-group">
                    <label for="exampleInputPassword">客户编号</label>
                    <input readonly type="text" name="id" class="form-control" id="exampleInputPassword"
                           value="<{$client.id}>" readonly>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">客户姓名</label>
                    <input readonly type="text" name="name" class="form-control" id="exampleInputPassword1"
                           value="<{$client.name}>" placeholder="请输入客户姓名">
                </div>

                <div class="form-group">
                    <label for="">销售类型</label><br>

                    <if condition="$client['saletype'] eq '独立销售' ">
                        <label class="radio-inline">
                            <input disabled type="radio" name="saletype" id="inlineRadio1" value="独立销售" checked> 独立销售
                        </label>
                        <label class="radio-inline">
                            <input disabled type="radio" name="saletype" id="inlineRadio2" value="合作销售"> 合作销售
                        </label>
                        <else/>
                        <label class="radio-inline">
                            <input disabled type="radio" name="saletype" id="inlineRadio1" value="独立销售"> 独立销售
                        </label>
                        <label class="radio-inline">
                            <input disabled type="radio" name="saletype" id="inlineRadio2" value="合作销售" checked> 合作销售
                        </label>
                    </if>


                </div>

                <div class="form-group">
                    <label for="exampleInputPassword3">销售顾问</label>
                    <input readonly type="text" name="sale" class="form-control" id="exampleInputPassword3"
                           placeholder="请输入销售顾问" value="<{$client['sale']}>">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword4">Reference No.</label>
                    <input readonly type="text" name="referencenum" class="form-control" id="exampleInputPassword4"
                           value="<{$client['referencenum']}>">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword5">当前余额</label>
                    <input readonly type="text" name="balance" class="form-control" id="exampleInputPassword5"
                           placeholder="请输入账户余额" value="<{$client['balance']}>">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword5">客户档案</label>
                    <input readonly type="text" name="profile" class="form-control" id="exampleInputPassword5"
                           placeholder="请输入客户的档案地址" value="<{$client['profile']}>">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">客户名下房产<br> (单套格式:Lot 888 Saltwater 多套格式: Lot 888 Saltwater <span
                            style="color: red;">$$</span> Lot 999 Saltwater)</label>
                    <textarea readonly class="form-control" name="lot" placeholder="请输入客户的房产  如:Lot 188;Lot 1214;"
                              style="height:100px;resize: none"><{$client['property']}></textarea>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="__PUBLIC__/js/jquery1.11.1.min.js"></script>
<script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/vendor/bootstrap-validator/bootstrapValidator.min.js"></script>
<script src="__PUBLIC__/js/info.js"></script>

