<!--账单填写-->
<div class="container" style="margin-top: 100px;margin-bottom: 150px">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <h4>个人信息</h4>
            <hr>

            <form role="form" id="clientform" action="<{:U('Client/update')}>" method="post">

                <div class="form-group">
                    <label for="exampleInputPassword">客户编号</label>
                    <input type="text" name="id" class="form-control" id="exampleInputPassword" value="<{$client.id}>" readonly>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">客户姓名</label>
                    <input type="text" name="name" class="form-control" id="exampleInputPassword1" value="<{$client.name}>" placeholder="请输入客户姓名">
                </div>

                <div class="form-group">
                    <label for="">销售类型</label><br>

                    <if condition="$client['saletype'] eq '独立销售' ">
                        <label class="radio-inline">
                            <input type="radio" name="saletype" id="" value="独立销售" checked> 独立销售
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="saletype" id="" value="合作销售"> 合作销售
                        </label>
                        <else />
                        <label class="radio-inline">
                            <input type="radio" name="saletype" id="" value="独立销售" > 独立销售
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="saletype" id="" value="合作销售" checked> 合作销售
                        </label>
                    </if>


                </div>

                <div class="form-group">
                    <label for="exampleInputPassword3">销售顾问</label>
                    <input type="text" name="sale" class="form-control" id="exampleInputPassword3" placeholder="请输入销售顾问" value="<{$client['sale']}>">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword4">Reference No.</label>
                    <input type="text" name="referencenum" class="form-control" id="exampleInputPassword4" placeholder="请输入客户Reference No." value="<{$client['referencenum']}>">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword5">当前余额</label>
                    <input type="text" name="balance" class="form-control" id="exampleInputPassword5" placeholder="请输入账户余额" value="<{$client['balance']}>">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword5">客户档案</label>
                    <input type="text" name="profile" class="form-control" id="exampleInputPassword5" placeholder="请输入客户的档案地址" value="<{$client['profile']}>">
                </div>

                <p style="height: 20px;"></p>
                <button style="margin-bottom: 50px" type="submit" class="btn btn-primary"><span class="fa fa-check"></span> 保存基本信息</button>
                <a  style="position: relative;top: -25px;right: -20px" href="<{$Think.cookie.clientpage}>" class="btn btn-default"><span class="fa fa-undo"></span>  暂时不用修改</a>





            </form>

            <h4>房产信息</h4>
            <hr>

            <div class="unit form-group" id="add-container">
                <label> </label>

                <?php if(count($client['property'])>0 && $client['property']){
                foreach ( $client['property'] as $val){

                ?>

                <div class="row">
                    <div class="col-xs-4">
                        <input style="margin-bottom: 14px" value="<?php echo $val['project'];?>" type="text" name="lot[]" placeholder="例如:Lot 188 Saltwater" class="form-control lot">
                    </div>
                    <div class="col-xs-2">
                        <input style="margin-bottom: 14px;" value="<?php echo $val['loancomp'];?>" type="text" name="loancomp[]" placeholder="贷款公司" class="form-control loancomp">
                    </div>
                    <div class="col-xs-3">
                        <input style="margin-bottom: 14px;" value="<?php echo $val['passtime'];?>" type="text" name="passtime[]" placeholder="过户时间"  data-date-format="yyyy-mm-dd"  class="form-control reg_time">
                    </div>
                    <div class="col-xs-3 text-right">
                        <span data="<?php echo $val['id'];?>" style="margin-top: 3px;margin-right: 0px" class="btn btn-sm btn-default fa fa-remove propertyremove"
                              title="删除"></span>
                        <span data="<?php echo $val['id'];?>" style="margin-top: 3px;margin-left: 0px" class="btn btn-sm btn-default fa fa-refresh propertyrefresh" title="更新"></span>
                    </div>
                </div>

                <?php } }?>


            </div>
            <p class="text-right"><span id='add' class="btn btn-default btn-sm">新增一个</span></p>


        </div>
    </div>
</div>

<script src="__PUBLIC__/js/jquery1.11.1.min.js"></script>
<script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/vendor/bootstrap-validator/bootstrapValidator.min.js"></script>
<script src="__PUBLIC__/dist/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="__PUBLIC__/vendor/layer/layer.js" charset="UTF-8"></script>

<script>


    $(document).ready(function() {
        $('#clientform').bootstrapValidator({
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: '请填写客户'
                        },
                        stringLength: {
                            min: 2,
                            max: 50,
                            message: '名字请在2-50个字符之间~'
                        }
                    }
                },
                lot: {
                    validators: {
                        notEmpty: {
                            message: '请填写该客户的Lot'
                        }
                    }
                },

                balance: {
                    validators: {
                        notEmpty: {
                            message: 'balance不能为空'
                        },
                        between:{
                            min:-100000000,
                            max:10000000,
                            message:'请输入合法的数值'
                        }
                    }
                },
                sale: {
                    validators: {
                        notEmpty: {
                            message: '请填写销售顾问'
                        }
                    }
                },
                referencenum: {
                    validators: {
                        stringLength: {
                            min: 5,
                            max: 5,
                            message: 'Reference Number应为5位字符'
                        }
                    }
                },
                profile: {
                    validators: {
                        notEmpty: {
                            message: '客户档案不能为空'
                        },
                        stringLength: {
                            min: 0,
                            max: 100,
                            message: '档案地址最多为100位字符'
                        }
                    }
                }
            }
        });

        //add点击新增输入框

        function datetimepickerconfig() {
            $('.reg_time').datetimepicker({
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 3,
                forceParse: 1,

            });
            $('.reg_time').datetimepicker('refresh');
        };
        datetimepickerconfig();

        $('#add').click(function () {
            var cid="<{$client.id}>";
            $.post('<{:U("client/addproperty")}>',{'cid':cid},function (result) {
               if (result) {
                   var res=JSON.parse(result);
                   $('#add-container').append(res['valid']);
                   datetimepickerconfig();
            }else{
                layer.msg('网络繁忙...',{time: 800});
              }
          });
        })



        $('.navbar-nav li:eq(6)').addClass('active');


        //删除房产
        $('#add-container').on('click','.propertyremove',function () {
            var id=$(this).attr('data');
            $(this).parent().parent().fadeOut(1500);
            $.post("<{:U('client/delproperty')}>",{'id':id},function (result) {
                if (result){
                    layer.msg('删除成功...',{time: 800});
                    $(_that).parent().parent().fadeOut(1500);

                }else{
                    layer.msg('网络繁忙...',{time: 800});
                }
            });
        })



        //更新时改变状态
//        $('#add-container').on('change','.lot',function () {
//           alert('hi')
//        })

        $('#add-container').on('change','.lot,.reg_time,.loancomp',function () {
           $(this).parent().parent().find('.propertyrefresh').css({'background':'black','color':'white'});
        })

        //更新房产
        $('#add-container').on('click','.propertyrefresh',function () {
            var id=$(this).attr('data');
            var passtime=$(this).parent().parent().find('.reg_time').val();
            var project=$(this).parent().parent().find('.lot').val();
            var loancomp=$(this).parent().parent().find('.loancomp').val();

            var _that=this;
            $.post("<{:U('client/updateproperty')}>",{'id':id,'project':project,'passtime':passtime,'loancomp':loancomp},function (result) {
                console.log(result);
                if (parseInt(result)){
                    $(_that).parent().parent().find('.propertyrefresh').css({'background':'white','color':'black'});
                    layer.msg('更新成功...',{time: 800});
                }else{
                    layer.msg('网络繁忙...',{time: 800});
                }
            });
        })


    });
</script>
